@media (min-width: 768px) {
    .cookieconsent {
        position: fixed;
        bottom: 0;
        z-index: 9999;
        background-color: #B3E0F5; /* #054D54 */
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 12px 20px;
    }

    .cookieconsent .flex {
        display: flex;
        align-items: center;
    }

    .cookieconsent .checkbox-group {
        margin-right: 20px;
        display: flex;
        align-items: center;
    }

    .cookieconsent .checkbox {
        margin-right: 6px;
    }

    .cookieconsent .button {
        border: 1px solid white;
        margin-right: 8px;
        padding: 5px 30px 3px 30px;
        border-radius: 30px;
        cursor: pointer;
    }

    .cookieconsent .close-button {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .cookieconsent .clickable {
        cursor: pointer;
    }

    .cookieconsent .color {
        color: #0a6691; /*#faccbf */
    }
}